<link
  rel="stylesheet"
  href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css"
/>
<link rel="stylesheet" href="/nav/nav.css" />

<nav class="navbar" role="navigation" aria-label="main navigation">
  <div class="navbar-menu" style="background-color: #060711; font-family: fangsong;">
    <div class="navbar-start navbar-scheme" style="margin-left: 33.333%;">
      <a id="homepage" class="navbar-item navers %%ACTIVEHOME%%" href="/">
        Homepage
      </a>
      <a id="weekOne" class="navbar-item navers %%ACTIVEONE%%" href="/WeekOne"> Week One </a>
      <a id="weekTwo" class="navbar-item navers %%ACTIVETWO%%" href="/WeekTwo"> Week Two </a>
      <a id="weekThree" class="navbar-item navers %%ACTIVETHREE%%" href="/WeekThree"> Week Three </a>
      <a id="weekFour" class="navbar-item navers %%ACTIVEFOUR%%" href="/WeekFour"> Week Four </a>
    </div>
  </div>
</nav>
