.api-pic {
    border-radius: 15px;
}

.api-points {
    font-weight: bold;
}

.api-column {
    background-color:rgb(21 30 46);
    border-style: groove;
    border-color: #e4ef42;
    border-width: thick;
    border-radius: 30px;
}

.api-column-left {
    margin-right: 20px;
    margin-left: -10px;
}

.column-title {
    font-size: xxx-large;
    text-align: center;
    margin-bottom: 10px;
}

.make-emoji{
    font-family: emoji;
}