.api-pic {
    border-radius: 15px;
}

.api-points {
    font-weight: bold;
}

.api-column {
    border-radius: 15px;
    background-color:rgb(100 100 100) ;
}

.api-column-left {
    margin-right: 20px;
    margin-left: -10px;
}

.column-title {
    font-size: xxx-large;
    text-align: center;
    margin-bottom: 10px;
}